{% extends "base.html.twig" %}

{% block body %}
    <br>
    <a href="{{ path('component_kind_index') }}" class="button button--white">Zurück zur Ansicht</a>
    <h1>Komponentenart erstellen</h1>
    <form  method="post" class="form">
        <dl>
            <dt>
                <label for="kind">Komponentenart</label>
            </dt>
            <dd>
                <input name="kind" id="kind">
            </dd>
        </dl>
        <p class="table__hint">Speichern um Komponenten Art hinzuzufügen</p>

        <input type="submit" class="button button--primary" value="Erstellen">
    </form>
{% endblock %}