<div class="wrap wrap--footer">
    <footer class="footer">
        <div class="footer__content">
            <h4 class="footer__headline">Teilnehmer</h4>
            <div class="footer__container">
                <div class="footer__panel">
                    <p>Marina Saueressig</p>
                    <p>Thomas Schäfer</p>
                    <p>Bettina Schuller</p>
                    <p>Jolanda Wilfer</p>
                    <p>Fabian Heckl</p>
                    <p>Fabian Reymann</p>
                    <p>Moritz Obermeyer</p>
                </div>
                <div class="footer__panel">
                    <p>Pascal Tillner</p>
                    <p>Henrik Elsner</p>
                    <p>Julius Noack</p>
                    <p>Michael Stadelmann</p>
                    <p>David Vo</p>
                    <p>Colin Loos</p>
                    <p>Leopold Fuchs</p>
                </div>
            </div>
            <div class="footer__copyright">
                <p>© Copyright 2017 B3 Team 2</p>
            </div>
        </div>
    </footer>
</div>