{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrap wrap--content">

        <main>

            <h3>Buttons</h3>
            <a class="button button--grey">Neuer Raum</a>
            <a class="button button--primary">Neue Kompente</a>
            <a class="button button--white">Neue Kompentenart</a>
            <a class="button button--warning">Löschen</a>
            <p class="alert alert--warning"><strong>Warnung! </strong>Interaktion fehlgeschlagen</p>
            <p class="alert alert--success"><strong>Erfolgreich! </strong>Interaktion erfolgreich</p>
            <p></p>
            <p></p>
            <h3>Tabellen</h3>
            <h4>Editierbare Tabelle</h4>
            <table>
                <thead><tr>
                    <th>Raum-ID</th>
                    <th>Raum-Nr</th>
                    <th>Bezeichnung</th>
                    <th>Notizen</th>
                    <th colspan="2">Interaktionen</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>01</td>
                    <td>313</td>
                    <td>Computerraum</td>
                    <td>20 Rechner</td>
                    <td class="table__action">Bearbeiten</td>
                    <td class="table__action">Löschen</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>314</td>
                    <td>Computerraum</td>
                    <td>25 Rechner</td>
                    <td class="table__action">Bearbeiten</td>
                    <td class="table__action">Löschen</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>303</td>
                    <td>Klassenzimmer</td>
                    <td>laut</td>
                    <td class="table__action">Bearbeiten</td>
                    <td class="table__action">Löschen</td>
                </tr>
                </tbody>
            </table>
            <p class="table__hint">Scrollbar ></p>

            <h4>Ansichts-Tabelle</h4>
            <table>
                <thead>
                <tr>
                    <th>Raum-ID</th>
                    <th>Raum-Nr</th>
                    <th>Bezeichnung</th>
                    <th>Notizen</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>01</td>
                    <td>313</td>
                    <td>Computerraum</td>
                    <td>20 Rechner</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>314</td>
                    <td>Computerraum</td>
                    <td>25 Rechner</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>303</td>
                    <td>Klassenzimmer</td>
                    <td>laut</td>
                </tr>
                </tbody>
            </table>
            <p class="table__hint">Scrollbar ></p>
            <br>

            <h4>Benutzer verwalten</h4>
            <table>
                <thead><tr>
                    <th>Benutzer-ID</th>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Rolle</th>
                    <th colspan="2">Interaktionen</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>01</td>
                    <td>Thomas Schäfer</td>
                    <td>tschäfer@beispiel.de</td>
                    <td>Systembetreuer</td>
                    <td class="table__action">Bearbeiten</td>
                    <td class="table__action">Löschen</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Henrik Elsner</td>
                    <td>helsner@test.de</td>
                    <td>Azubi</td>
                    <td class="table__action">Bearbeiten</td>
                    <td class="table__action">Löschen</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Markus Bader</td>
                    <td>mbader@b3-fuerth.de</td>
                    <td>Lehrer</td>
                    <td class="table__action">Bearbeiten</td>
                    <td class="table__action">Löschen</td>
                </tr>
                </tbody>
            </table>
            <p class="table__hint">Scrollbar ></p>

            <h4>Komponentenarten verwalten</h4>
            <table>
                <thead><tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Attribute</th>
                    <th colspan="2">Interaktionen</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>01</td>
                    <td>PC</td>
                    <td>Prozessor, Grafikkarte, Maus </td>
                    <td class="table__action">Bearbeiten</td>
                    <td class="table__action">Löschen</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Drucker</td>
                    <td>Bunt, Laser, Scanner</td>
                    <td class="table__action">Bearbeiten</td>
                    <td class="table__action">Löschen</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Beamer</td>
                    <td>Eingang, Lautsprecher</td>
                    <td class="table__action">Bearbeiten</td>
                    <td class="table__action">Löschen</td>
                </tr>
                </tbody>
            </table>
            <p class="table__hint">Scrollbar ></p>

            <h4>Komponenten</h4>
            <table>
                <thead><tr>
                    <th>ID</th>
                    <th>Kennung</th>
                    <th>Raum</th>
                    <th>Einkaufsdatum</th>
                    <th>Gewährleistung</th>
                    <th>Notiz</th>
                    <th>Hersteller</th>
                    <th>Art</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>01</td>
                    <td>PC-01-313</td>
                    <td>313</td>
                    <td>12-2-14</td>
                    <td>3 Jahre</td>
                    <td>fehleranfällig</td>
                    <td>Acer</td>
                    <td>PC</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Drucker-02-313</td>
                    <td>313</td>
                    <td>15-2-14</td>
                    <td>2</td>
                    <td>-</td>
                    <td>HP</td>
                    <td>Drucker</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>B-01-313</td>
                    <td>303</td>
                    <td>12-12-16</td>
                    <td>3</td>
                    <td>Neu! Vorsichtig</td>
                    <td>Remaeb</td>
                    <td>Beamer</td>
                </tr>
                </tbody>
            </table>
            <p class="table__hint">Scrollbar ></p>

            <h3>Übersicht/Reporting</h3>

            <h4>Räume</h4>
            <table>
                <thead><tr>
                    <th>Raum-ID</th>
                    <th>Raum-Nr</th>
                    <th>Bezeichnung</th>
                    <th>Notizen</th>
                    <th></th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>01</td>
                    <td>313</td>
                    <td>Computerraum</td>
                    <td>20 Rechner</td>
                    <td class="table__action">Details</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>314</td>
                    <td>Computerraum</td>
                    <td>25 Rechner</td>
                    <td class="table__action">Details</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>303</td>
                    <td>Klassenzimmer</td>
                    <td>laut</td>
                    <td class="table__action">Details</td>
                </tr>
                </tbody>
            </table>
            <p class="table__hint">Scrollbar ></p>


            <h3>Übersicht/Reporting</h3>

            <h4>Raum</h4>
            <table>
                <thead><tr>
                    <th>Raum-ID</th>
                    <th>Raum-Nr</th>
                    <th>Bezeichnung</th>
                    <th>Notizen</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>01</td>
                    <td>313</td>
                    <td>Computerraum</td>
                    <td>20 Rechner</td>
                </tr>
                </tbody>
            </table>
            <p class="table__hint">Scrollbar ></p>

            <h4>Komponenten</h4>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Kennung</th>
                    <th>Raum</th>
                    <th>Einkaufsdatum</th>
                    <th>Gewährleistung</th>
                    <th>Notiz</th>
                    <th>Hersteller</th>
                    <th>Art</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>01</td>
                    <td>PC-01-313</td>
                    <td>313</td>
                    <td>12-2-14</td>
                    <td>3 Jahre</td>
                    <td>fehleranfällig</td>
                    <td>Acer</td>
                    <td>PC</td>
                    <td class="table__action">Details</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>B-01-313</td>
                    <td>313</td>
                    <td>12-12-16</td>
                    <td>3</td>
                    <td>Neu! Vorsichtig</td>
                    <td>Remaeb</td>
                    <td>Beamer</td>
                    <td class="table__action">Details</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>PC-07-313</td>
                    <td>313</td>
                    <td>2-7-16</td>
                    <td>2 Jahre</td>
                    <td>Neu!</td>
                    <td>Acer</td>
                    <td>PC</td>
                    <td class="table__action">Details</td>
                </tr>
                </tbody>
            </table>
            <p class="table__hint">Scrollbar ></p>
            <h3>Formulare</h3>

            <form action="" class="form">
                <h4>Neuer Raum</h4>
                <dl>
                    <dt>
                        <label for="roomnumber">Raum Nummer</label>
                    </dt>
                    <dd>
                        <input name="roomnumber" id="roomnumber">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="roomname">Raum Bezeichnung</label>
                    </dt>
                    <dd>
                        <input name="roomname" id="roomname">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="r_notiz">Notiz zum Raum</label>
                    </dt>
                    <dd>
                        <textarea rows="5" name="r_notiz" id="r_notiz"></textarea>
                    </dd>
                </dl>

                <input type="reset" class="button button--grey">
                <input type="submit" class="button button--primary" value="Abschicken">

            </form>

            <hr>

            <form action="" class="form">
                <h4>Neue Komponentenart</h4>
                <dl>
                    <dt>
                        <label for="ka_art">Komponentenart</label>
                    </dt>
                    <dd>
                        <input name="ka_art" id="ka_art">
                    </dd>
                </dl>

                <p class="table__hint">Speichern um Attribute hinzuzufügen</p>

                <input type="reset" class="button button--grey">
                <input type="submit" class="button button--primary" value="Abschicken">
            </form>

            <hr>

            <form action="" class="form">
                <h4>Neue Attribute für Komponentenart</h4>
                <dl>
                    <dt>
                        <label for="k_attributwert1">Attributname 1</label>
                    </dt>
                    <dd>
                        <input name="k_attributwert1" id="k_attributwert1">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_attributwert2">Attributname 2</label>
                    </dt>
                    <dd>
                        <input name="k_attributwert2" id="k_attributwert2">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_attributwert3">Attributname 3</label>
                    </dt>
                    <dd>
                        <input name="k_attributwert3" id="k_attributwert3">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_attributwert4">Attributname 4</label>
                    </dt>
                    <dd>
                        <input name="k_attributwert4" id="k_attributwert4">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_attributwert5">Attributname 5</label>
                    </dt>
                    <dd>
                        <input name="k_attributwert5" id="k_attributwert5">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_attributwert6">Attributname 6</label>
                    </dt>
                    <dd>
                        <input name="k_attributwert6" id="k_attributwert6">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_attributwert7">Attributname 7</label>
                    </dt>
                    <dd>
                        <input name="k_attributwert7" id="k_attributwert7">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_attributwert8">Attributname 8</label>
                    </dt>
                    <dd>
                        <input name="k_attributwert8" id="k_attributwert8">
                    </dd>
                </dl>
                <input type="reset" class="button button--grey">
                <input type="submit" class="button button--primary" value="Abschicken">
            </form>

            <hr>

            <form action="" class="form">
                <h4>Neue Komponente</h4>
                <dl>
                    <dt>
                        <label for="k_name">Komponentenkennung</label>
                    </dt>
                    <dd>
                        <input name="k_name" id="k_name">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_anzahl">Anzahl der zu erstellenden Komponenten</label>
                    </dt>
                    <dd>
                        <input name="k_anzahl" id="k_anzahl" type="number">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_raum">Raum</label>
                    </dt>
                    <dd>
                        <select name="k_raum" id="k_raum">
                            <option value="">303</option>
                            <option value="">313</option>
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_datum">Einkaufsdatum</label>
                    </dt>
                    <dd>
                        <input name="k_datum" id="k_datum" type="date">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_gewährleistung">Gewährleistungsdauer</label>
                    </dt>
                    <dd>
                        <input name="k_gewährleistung" id="k_gewährleistung" type="number">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_notiz">Notiz zur Komponente</label>
                    </dt>
                    <dd>
                        <textarea rows="5" name="k_notiz" id="k_notiz"></textarea>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_hersteller">Hersteller</label>
                    </dt>
                    <dd>
                        <input name="k_hersteller" id="k_hersteller">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="k_art">Komponentenart</label>
                    </dt>
                    <dd>
                        <select name="k_art" id="k_art">
                            <option value="">PC</option>
                            <option value="">Drucker</option>
                        </select>
                    </dd>
                </dl>

                <p class="table__hint">Speichern um Attributwerte hinzuzufügen</p>
                <div class="form__button-wrap">

                    <input type="reset" class="button button--grey">
                    <input type="submit" class="button button--primary" value="Abschicken">
                </div>
            </form>

            <hr>

            <form action="" class="form">
                <h4>Neue Attributwerte für Komponente (Bsp. Drucker)</h4>
                <dl>
                    <dt>
                        <label for="ka_attribute1">Seriennummer</label>
                    </dt>
                    <dd>
                        <input name="ka_attribute1" id="ka_attribute1">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="ka_attribute2">Druckertyp</label>
                    </dt>
                    <dd>
                        <input name="ka_attribute2" id="ka_attribute2">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="ka_attribute3">DruckerArt</label>
                    </dt>
                    <dd>
                        <input name="ka_attribute3" id="ka_attribute3">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="ka_attribute4">Druckformat</label>
                    </dt>
                    <dd>
                        <input name="ka_attribute4" id="ka_attribute4">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="ka_attribute5">Beidseitig</label>
                    </dt>
                    <dd>
                        <input name="ka_attribute5" id="ka_attribute5">
                    </dd>
                </dl>

                <input type="reset" class="button button--grey">
                <input type="submit" class="button button--primary" value="Abschicken">
            </form>

            <hr>

            <form action="" class="form">
                <h4>Login</h4>
                <dl>
                    <dt>
                        <label for="b_mail">E-Mail</label>
                    </dt>
                    <dd>
                        <input name="b_mail" id="b_mail">
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label for="b_password">Passwort</label>
                    </dt>
                    <dd>
                        <input name="b_password" id="b_password" type="password">
                    </dd>
                </dl>

                <p class="form__hint">Bei Problemen wenden Sie sich an einen Systembetreuer</p>

                <input type="reset" class="button button--grey">
                <input type="submit" class="button button--primary" value="Login">
            </form>
        </main>

    </div>
{% endblock %}
