{% extends 'base.html.twig' %}

{% block body %}

<div class="wrap wrap--content">
    <main>
        <h3>Wollen sie den Benutzer {{ user.name }} ({{ user.email }}) wirklich löschen?</h3>
        <form action="" method="post" class="form">
            <div class="form__button-wrap">
                <input type="submit" class="button button--warning" value="Löschen">
                <a href="{{ path('users_index') }}" class="button button--white">Zurück</a>
            </div>
        </form>
    </main>
</div>

{% endblock %}
