/* line 1, Scss/elements/_base.scss */
html {
  font-family: 'Helvetica Neue', sans-serif; }

/* line 5, Scss/elements/_base.scss */
body {
  margin: 0; }

/* line 9, Scss/elements/_base.scss */
main {
  width: 80%;
  margin: 0 auto; }

/* line 14, Scss/elements/_base.scss */
a {
  text-decoration: none;
  cursor: pointer; }

/* line 1, Scss/elements/_button.scss */
.button {
  min-width: 10rem;
  text-align: center;
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: .5em 1em;
  text-decoration: none;
  transition: .25s;
  margin-bottom: 0.75rem; }

/* line 13, Scss/elements/_button.scss */
.button[disabled] {
  cursor: not-allowed;
  opacity: 0.3; }

/* line 18, Scss/elements/_button.scss */
.button--primary {
  background-color: #7DA9C5;
  color: #ffffff; }
  /* line 21, Scss/elements/_button.scss */
  .button--primary:hover, .button--primary:focus {
    background: #0688c1; }

/* line 27, Scss/elements/_button.scss */
.button--grey {
  background-color: grey;
  color: #ffffff; }
  /* line 30, Scss/elements/_button.scss */
  .button--grey:hover, .button--grey:focus {
    background: #4f4f4f; }

/* line 36, Scss/elements/_button.scss */
.button--white {
  font-size: 15px;
  background-color: white;
  border: 1px solid grey;
  color: #000000; }
  /* line 41, Scss/elements/_button.scss */
  .button--white:hover, .button--white:focus {
    background: gainsboro; }

/* line 47, Scss/elements/_button.scss */
.button--warning {
  background-color: #d04646;
  color: #fff; }
  /* line 50, Scss/elements/_button.scss */
  .button--warning:hover, .button--warning:focus {
    background: #ba0000; }

/* line 56, Scss/elements/_button.scss */
.button--small {
  min-width: 0;
  padding: .5rem; }

/* line 1, Scss/elements/_navigation.scss */
#navigation-state {
  display: none; }

/* line 5, Scss/elements/_navigation.scss */
#navigation-state:checked ~ .wrap--nav {
  transform: translateX(0); }

@media only screen and (max-width: 57rem) {
  /* line 9, Scss/elements/_navigation.scss */
  #navigation-state:checked ~ .wrap--content, #navigation-state:checked ~ .wrap--footer {
    opacity: 0.3; } }

/* line 15, Scss/elements/_navigation.scss */
.navigation {
  overflow: scroll;
  height: 100%;
  border-left: solid 1px grey; }
  @media only screen and (min-width: 57rem) {
    /* line 15, Scss/elements/_navigation.scss */
    .navigation {
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;
      height: 7em;
      overflow: visible;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between; } }

@media only screen and (max-width: 57rem) {
  /* line 33, Scss/elements/_navigation.scss */
  .navigation__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; } }

@media only screen and (min-width: 45rem) {
  /* line 33, Scss/elements/_navigation.scss */
  .navigation__container {
    top: 1rem;
    position: relative; } }

/* line 45, Scss/elements/_navigation.scss */
.navigation__container ul li:before {
  display: none; }

/* line 50, Scss/elements/_navigation.scss */
.navigation__items {
  list-style-type: none;
  text-transform: uppercase;
  font-size: .75em;
  padding: 0;
  margin-top: 20px;
  width: 100%;
  line-height: 1.5; }
  @media only screen and (min-width: 57rem) {
    /* line 50, Scss/elements/_navigation.scss */
    .navigation__items {
      width: auto;
      display: flex;
      align-items: baseline; } }

/* line 66, Scss/elements/_navigation.scss */
.navigation__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline; }
  /* line 72, Scss/elements/_navigation.scss */
  .navigation__item:hover, .navigation__item:focus {
    background-color: #0688c1; }
    /* line 76, Scss/elements/_navigation.scss */
    .navigation__item:hover .navigation__link,
    .navigation__item:hover .dropdown__link,
    .navigation__item:hover .toggle__nav:before, .navigation__item:focus .navigation__link,
    .navigation__item:focus .dropdown__link,
    .navigation__item:focus .toggle__nav:before {
      color: white; }
  @media only screen and (min-width: 57rem) {
    /* line 66, Scss/elements/_navigation.scss */
    .navigation__item {
      position: relative;
      font-size: .875rem;
      padding: 0 .35em;
      text-transform: uppercase;
      margin: 0 .25em; } }
  @media only screen and (min-width: 64rem) {
    /* line 66, Scss/elements/_navigation.scss */
    .navigation__item {
      padding: 0;
      font-size: .975rem; } }

/* line 97, Scss/elements/_navigation.scss */
.navigation__link {
  color: #0688c1;
  font-weight: 500;
  padding: .5rem 1rem; }

/* line 103, Scss/elements/_navigation.scss */
.navigation__logo {
  display: none;
  padding: 1em 2em 0;
  height: 5em;
  width: auto;
  margin-bottom: 0; }
  /* line 110, Scss/elements/_navigation.scss */
  .navigation__logo img {
    max-height: 100%;
    margin: 0 auto;
    width: auto; }
  /* line 116, Scss/elements/_navigation.scss */
  #navigation-state:checked ~ .navigation__logo {
    width: 15em;
    left: 0;
    top: -2em; }
  @media only screen and (min-width: 57rem) {
    /* line 103, Scss/elements/_navigation.scss */
    .navigation__logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 10em;
      position: relative;
      margin: 0;
      height: 100%;
      padding: .5em .5em 0; } }
  @media only screen and (min-width: 64rem) {
    /* line 103, Scss/elements/_navigation.scss */
    .navigation__logo {
      width: 15em;
      padding: 0; } }

/* line 139, Scss/elements/_navigation.scss */
.navigation__headline {
  display: none; }
  @media only screen and (min-width: 57rem) {
    /* line 139, Scss/elements/_navigation.scss */
    .navigation__headline {
      display: block;
      color: #0688c1;
      margin-left: 130px;
      padding-top: 40px; } }

/* line 1, Scss/elements/_dropdown.scss */
#drop-toggle {
  display: none; }

/* line 5, Scss/elements/_dropdown.scss */
.dropdown {
  display: none;
  width: 100%;
  padding-left: .75em;
  list-style: none; }
  /* line 11, Scss/elements/_dropdown.scss */
  .state:checked ~ .dropdown {
    display: flex;
    flex-direction: column; }
  @media only screen and (min-width: 57rem) {
    /* line 5, Scss/elements/_dropdown.scss */
    .dropdown {
      width: 17rem;
      padding: 0;
      height: auto;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #0688c1;
      z-index: 10; } }

/* line 28, Scss/elements/_dropdown.scss */
.dropdown__item {
  margin: 0;
  border: none;
  font-size: .875em;
  text-transform: none;
  height: auto;
  line-height: 1.5;
  padding: .5rem 1em; }
  @media only screen and (min-width: 57rem) {
    /* line 28, Scss/elements/_dropdown.scss */
    .dropdown__item {
      padding: 0; } }
  @media only screen and (min-width: 45rem) {
    /* line 28, Scss/elements/_dropdown.scss */
    .dropdown__item {
      height: auto;
      line-height: 1.5;
      padding: .5rem 1em; }
      /* line 46, Scss/elements/_dropdown.scss */
      .dropdown__item:hover, .dropdown__item:focus {
        background-color: #7DA9C5;
        border: none; } }

/* line 54, Scss/elements/_dropdown.scss */
.dropdown__link {
  font-size: 1.125em;
  line-height: 1;
  padding: .5rem 2rem .5rem .5rem;
  height: 2em;
  color: #000;
  font-weight: 200;
  width: 100%; }
  /* line 63, Scss/elements/_dropdown.scss */
  .dropdown__link:hover, .dropdown__link:focus {
    color: #0688c1; }
  @media only screen and (min-width: 57rem) {
    /* line 54, Scss/elements/_dropdown.scss */
    .dropdown__link {
      padding: .5rem 0;
      color: white; } }

@media only screen and (min-width: 57rem) {
  /* line 73, Scss/elements/_dropdown.scss */
  .navigation__item:hover .dropdown {
    display: block; } }

/* line 79, Scss/elements/_dropdown.scss */
.dropdown__toggle {
  display: flex;
  align-self: center;
  width: 2em;
  text-align: center;
  margin: 0 .5rem 0 0;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  padding: 0; }
  @media only screen and (min-width: 57rem) {
    /* line 79, Scss/elements/_dropdown.scss */
    .dropdown__toggle {
      width: 1em; } }
  /* line 93, Scss/elements/_dropdown.scss */
  .dropdown .dropdown__toggle {
    margin: 0;
    line-height: 0; }
  /* line 98, Scss/elements/_dropdown.scss */
  .state:checked ~ .dropdown__toggle {
    transform: rotate(45deg); }
  /* line 102, Scss/elements/_dropdown.scss */
  .dropdown__toggle:before {
    color: #000;
    content: url("../../Images/angle-down.svg"); }
    /* line 106, Scss/elements/_dropdown.scss */
    .dropdown .dropdown__toggle:before {
      color: #0688c1; }

/* line 1, Scss/elements/_alert.scss */
.alert {
  height: auto;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

/* line 10, Scss/elements/_alert.scss */
.alert--warning {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442; }

/* line 16, Scss/elements/_alert.scss */
.alert--success {
  color: #3c763d;
  background: #dff0d8;
  border-color: #3c763d; }

/* line 22, Scss/elements/_alert.scss */
.alert--neutral {
  color: #4f4f4f;
  background: gainsboro;
  border-color: #4f4f4f; }

/* line 1, Scss/elements/_top-bar.scss */
.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 2.75rem;
  width: 100%;
  background: white;
  z-index: 5;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
  transition: .5s ease-in-out; }
  @media only screen and (min-width: 57rem) {
    /* line 1, Scss/elements/_top-bar.scss */
    .top-bar {
      display: none; } }

/* line 22, Scss/elements/_top-bar.scss */
.top-bar__logo {
  width: 6em;
  display: block;
  top: 0;
  position: relative;
  margin-left: auto;
  transform: translateX(50%); }
  /* line 30, Scss/elements/_top-bar.scss */
  .top-bar__logo img {
    margin: 0;
    height: auto;
    width: 100%; }
  @media only screen and (min-width: 57rem) {
    /* line 22, Scss/elements/_top-bar.scss */
    .top-bar__logo {
      display: block; } }

/* line 1, Scss/elements/_toggle.scss */
.toggle {
  display: block;
  color: #0688c1;
  line-height: 2.875;
  margin: 0;
  cursor: pointer;
  width: 5.1rem;
  height: 2.75em;
  transition: 0.25s ease-in-out; }
  /* line 11, Scss/elements/_toggle.scss */
  .toggle:hover, .toggle:focus {
    background-color: #0688c1;
    color: #ffffff; }
    /* line 16, Scss/elements/_toggle.scss */
    .toggle:hover .toggle__burger span, .toggle:focus .toggle__burger span {
      background-color: #ffffff; }
  /* line 21, Scss/elements/_toggle.scss */
  #navigation-state:checked ~ .toggle {
    background: #0688c1;
    color: white; }
    /* line 25, Scss/elements/_toggle.scss */
    #navigation-state:checked ~ .toggle .toggle__burger span {
      background-color: white; }

/* line 31, Scss/elements/_toggle.scss */
.toggle--navigation {
  padding: 0 7px;
  margin-left: auto; }

/* line 36, Scss/elements/_toggle.scss */
.toggle__burger {
  width: 1em;
  height: 1.5em;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  float: right;
  margin: .65em .75em; }

/* line 46, Scss/elements/_toggle.scss */
.toggle__burger span {
  display: block;
  position: absolute;
  height: .125em;
  width: 1em;
  background: #0688c1;
  border-radius: 0;
  opacity: 1;
  right: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out; }

/* line 61, Scss/elements/_toggle.scss */
.toggle__burger span:nth-child(1) {
  top: .375em; }

/* line 65, Scss/elements/_toggle.scss */
.toggle__burger span:nth-child(2),
.toggle__burger span:nth-child(3) {
  top: .75em; }

/* line 70, Scss/elements/_toggle.scss */
.toggle__burger span:nth-child(4) {
  top: 1.125em; }

/* line 76, Scss/elements/_toggle.scss */
#navigation-state:checked ~ .top-bar .toggle__burger span:nth-child(1) {
  top: .75em;
  width: 0;
  left: 50%; }

/* line 82, Scss/elements/_toggle.scss */
#navigation-state:checked ~ .top-bar .toggle__burger span:nth-child(2) {
  transform: rotate(45deg); }

/* line 86, Scss/elements/_toggle.scss */
#navigation-state:checked ~ .top-bar .toggle__burger span:nth-child(3) {
  transform: rotate(-45deg); }

/* line 90, Scss/elements/_toggle.scss */
#navigation-state:checked ~ .top-bar .toggle__burger span:nth-child(4) {
  top: .75em;
  width: 0;
  left: 50%;
  background: white; }

/* line 2, Scss/elements/_table.scss */
table {
  display: block;
  width: 100%;
  overflow-x: scroll; }

/* line 8, Scss/elements/_table.scss */
th, td {
  padding: 3px 10px; }

/* line 12, Scss/elements/_table.scss */
tr:nth-child(even) td {
  background-color: gainsboro; }

/* line 16, Scss/elements/_table.scss */
tr:nth-child(odd) {
  background-color: gainsboro; }

/* line 20, Scss/elements/_table.scss */
tr:nth-child(odd) td {
  background-color: white; }

/* line 24, Scss/elements/_table.scss */
.table__hint {
  font-size: 10px;
  color: grey; }
  @media only screen and (min-width: 57rem) {
    /* line 24, Scss/elements/_table.scss */
    .table__hint {
      display: none; } }

/* line 33, Scss/elements/_table.scss */
.table__action a {
  color: #0688c1; }

/* line 1, Scss/elements/_footer.scss */
.footer {
  width: 100%;
  bottom: 0;
  padding: 3px;
  max-width: 80rem;
  margin: 0 auto;
  height: 100%;
  display: block; }
  /* line 10, Scss/elements/_footer.scss */
  .footer * {
    color: white; }

/* line 15, Scss/elements/_footer.scss */
.footer__headline {
  display: flex;
  justify-content: center; }

/* line 20, Scss/elements/_footer.scss */
.footer__container {
  display: flex;
  justify-content: space-around; }

/* line 25, Scss/elements/_footer.scss */
.footer__panel {
  padding: 3px; }

/* line 1, Scss/elements/_form.scss */
.form {
  max-width: 30rem; }
  @media only screen and (max-width: 44.9375rem) {
    /* line 1, Scss/elements/_form.scss */
    .form {
      width: 100%; } }

/* line 9, Scss/elements/_form.scss */
dl {
  margin: 10px 0; }

/* line 13, Scss/elements/_form.scss */
dt {
  margin-bottom: 2px; }

/* line 17, Scss/elements/_form.scss */
dd {
  margin: 0 0 10px 0; }

/* line 21, Scss/elements/_form.scss */
select, input, textarea {
  width: 100%;
  font-size: 15px;
  border: 1px solid gainsboro; }

/* line 27, Scss/elements/_form.scss */
input[disabled], select[disabled] {
  cursor: not-allowed; }

/* line 31, Scss/elements/_form.scss */
.form__hint {
  font-size: 10px;
  color: grey; }

/* line 36, Scss/elements/_form.scss */
.form__button-wrap {
  display: flex;
  flex-direction: column; }

/* line 2, Scss/elements/_wrap.scss */
.wrap {
  transition: 0.5s ease-in-out; }

/* line 6, Scss/elements/_wrap.scss */
.wrap--nav {
  position: fixed;
  z-index: 4;
  top: 2.75rem;
  right: 0;
  width: 15rem;
  height: calc(100% - 2.75rem);
  background-color: #ffffff;
  border-bottom: 1px solid grey;
  transform: translateX(100%); }
  @media only screen and (min-width: 57rem) {
    /* line 6, Scss/elements/_wrap.scss */
    .wrap--nav {
      width: 100%;
      transform: none;
      transition: none;
      position: static;
      padding-top: 0;
      height: 7em;
      display: block; } }

/* line 29, Scss/elements/_wrap.scss */
.wrap--content {
  margin: 3rem .5rem; }
  @media only screen and (min-width: 57rem) {
    /* line 29, Scss/elements/_wrap.scss */
    .wrap--content {
      margin-top: 0; } }

/* line 37, Scss/elements/_wrap.scss */
.wrap--footer {
  background-color: #7DA9C5;
  min-height: 10em;
  padding: 1rem; }
